/* RESET DO CSS - PADRÃO GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* TRANSFORMANDO O PIXEL EM REM */
    /* font-size: 62.5%; */
}

/* DECLARANDO VARIÁVEIS NO CSS */
html{
    --title-color: #fff;
    --base-color: #333;
    --base-color-second: #00ff7f;
}

/* APLICANDO FLEXBOX - CAIXA FLEXÍVEL */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* FONTE DA BATERIA */
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    /* DECLARANDO UMA VARIÁVEL CSS */
    background-color: var(--base-color);
}
/* TÍTULO DA PÁGINA */
h1{
    color: var(--title-color);
    margin-bottom: 2rem;
}
/* APLICANDO CSS GRID - CAIXA PRICIPAL */

.keys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

/* APLICANDO CSS GRID - CAIXA SECUNDÁRIA */
.key{
    width: 8rem;
    height: 8rem;
    border: .2rem solid white;
    color: var(--title-color);

    /* APLICANDO FLEXBOX  */
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 3rem;
    font-weight: 700;
}

/* .key.active{
    FAZER NA PRÓXIMA AULA 
} */

/* CAIXA COMPOSIÇÃO - INPUT E BUTTON */
.composer{
    width: 26rem;
    margin-top: 2rem;
}

/* CAIXA INPUT */
.composer #input{
    width: 100%;
    outline: none;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}